            <!-- <div class="mask">
            </div> -->
            
            <div class="intro-content-I">
                <div class="logo-I">
                   <img alt="" src="images/text/I.png" style="width: 100%">
                </div>
            </div>
            <div class="intro-content-HEART">
                <div class="logo-HEART">
                    <img alt="" src="images/text/HEART.png" style="height: 100%">
                </div>
            </div>    
            <div class="intro-content-HR">
                <div class="carddiv">
                    <img class="logo-HR" alt="" src="images/text/HR.png">
                    <img class="logo-HR-back" alt="" src="images/text/HR_back.png">
                </div>
                
                    <div class="social-media hidden-xs">
                    <a href="http://winfredsu.github.io" class="fa fa-home" data-toggle="tooltip" title="Homepage"></a>
                    <a href="#" class="fa fa-facebook" data-toggle="tooltip" title="Facebook"></a>
                    <a href="" class="fa fa-youtube" data-toggle="tooltip" title="Youtube"></a>
                    <a href="mailto: winfredsu@outlook.com" class="fa fa-envelope" data-toggle="tooltip" title="Mail"></a>
                    <a href="tel: +86 18810301073" class="fa fa-phone" data-toggle="tooltip" title="Mobile"></a>
                </div>
            </div>
     