            <div class="aboutus-btn">
                <img alt="" src="images/about.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-home-outline"></i>
                    <h2><nobr>About Us</nobr></h2>
                </div>
            </div>
            <div class="gallery-btn">
                <img alt="" src="images/gallery.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-camera-outline hidden-xs"></i>
                    <h2>Gallery</h2>
                </div>
            </div>
            <div class="birthday-btn">
                <img alt="" src="images/birthday.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-bowtie hidden-xs"></i>
                    <h2>Birthday</h2>
                </div>
            </div>
            <div class="contact-btn">
                <img alt="" src="images/contact.jpg">
                <div class="mask">
                </div>
                <div class="heading">
                    <i class="ion-ios-paw hidden-xs"></i>
                    <h2>Footprints</h2>
                </div>
            </div>            
